{% extends "bookshop/base.html" %}
{% load static %}

{% block title %} About us {% endblock %}

{% block content %} 
<h1 class="text-center fw-bold text-light mt-5">About us</h1>

<div class="container-fluid fw-bold text-light">
    <p>Welcome to Karenina's bookshop, a haven for book lovers and literary enthusiasts. At our bookshop, we believe in the power of stories and the magic of words. We strive to curate a diverse collection of books that ignite imaginations, broaden horizons, and provide endless hours of reading pleasure. Whether you're searching for a gripping thriller, a thought-provoking classic, or the latest bestseller, we are here to guide you on your literary journey.</p>

    <p>Here, we believe that books have the power to inspire, educate, and entertain. They transport us to different times, cultures, and perspectives, fostering empathy and understanding. We are committed to promoting diverse voices and supporting both emerging and established authors. Through book signings, author events, and community initiatives, we aim to create a vibrant literary hub that fosters a love for reading and a sense of belonging among book lovers.</p>

    <p>Thank you for choosing us as your literary destination. We invite you to explore our website, browse our book catalog, and embark on an enriching reading journey with us. Whether you are a lifelong book lover or just starting to discover the joy of reading, we are here to accompany you every step of the way. Get lost in the pages, discover new worlds, and let the magic of books captivate your imagination.</p>

    <p class="text-center mt-5">The website was developed by <a class="fw-bold link-primary link-underline link-underline-opacity-0" href="https://github.com/FacundoCG">Facundo Coronel</a>. You can visit my GitHub to see my other projects or to contact me if you wish.</p>
</div>

{% endblock %}